---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} Leo Bechet @ Nebuleo.</p>
</footer>
<style>
	footer {
		padding: 2rem 1rem 3rem;
		border-top: 1px solid var(--border);
		color: var(--secondary-text);
		text-align: center;
	}
	p {
		margin: 0;
	}
</style>
